#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-title {
  color: #f0f0f0;
}

body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #1f1f1f;
}

.profile-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.profile-card {
  background-color: #171a1c;
  border: 1px solid #5494fa;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 250px;
  transition: transform 0.3s ease-in-out;
}

.profile-card:hover {
  transform: scale(1.03);
}

.profile-card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile-card h3 {
  font-size: 1.5rem;
  color: #f0f0f0;
  margin-bottom: 5px;
}

.profile-card p {
  color: #f0f0f0;
  font-size: 1rem;
}